:root {
    --var-txt-color: #989898;
    --var-title-color: #01dfdf;
    --var-date-color: #939393;
    --var-genres-color: #518cb0;
    --var-background-nav: #116193;
    --var-background-card: #ebebeb;
    --var-background: #ffffff;
    --var-background-title-detail: #e6e6e6;
    --var-sinopse-color: #777777;
}
h2{
    margin: 0;
    display: flex;  
    justify-content: center;  
    padding: 0.4rem;
    font: 500 2rem 'Abel', sans-serif;
    color: var(--var-title-color);
    letter-spacing: 1px;
}